
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    /*background-color: #f7f7f7;*/
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: inherit;
    transition: color 0.15s;
}
a:hover {
    color: #007bff;
}

div {
    font-family: 'Poppins', san-serif;
}